.wittified-web-frag-web-item
{
	background-color: #d94625 !important;
	color:white !important;
	text-shadow: none !important;
}
.wittified-web-frag-web-section
{
	background-color: #d94625 !important;
	color:white !important;
}

.wittified-web-frag-web-panel
{
	border: 2px solid #d94625 !important;
}

.wittified-web-resource
{
	background-color:yellow;
	color:black;
	margin:3px;
	padding-left:2px;
	border: 1px solid #000;
	border-radius: 5px;
}


table.httpTable tbody tr td
{
    word-wrap: break-word;
}


table.httpTable tbody tr td.method
{
    max-width:50px;
    width:50px;
}

table.httpTable tbody tr td.url
{
    max-width:250px;
    width:250px;
}

table.httpTable tbody tr td.headers
{
    max-width:200px;
    width:200px;
}

table.httpTable tbody tr td.query
{
    max-width:250px;
    width:250px;
}

.wittified-wait-dialog
{

    margin-left: auto;
    margin-right: auto;
    width:40px;

    padding-top:160px;
}

.ao-contents-area
{
    overflow:scroll;
    max-width:545px;
    min-height:190px;
}