AJS.toInit(function()
{
	var html = '<div class="wittified-web-resource">Web Resource Context: <b>$webResource.location</b> used by $webResource.providedByPlugin</div>';
    if(document.getElementById('page'))
    {
	    AJS.$(html).insertBefore('#page');
    }
    else if ( document.getElementById('header'))
    {
        AJS.$(html).insertBefore('#header');
    }

}
);
